[Unit]
Description=SSH agent

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -t 10800 -D -a $SSH_AUTH_SOCK

[Install]
WantedBy=default.target
