* {
    border: none;
    font-family: "Google Sans", "SF Pro", "Apple Color Emoji";
    font-size: 14px;
    min-height: 12px;
}

@define-color fg-neutral #1a1a10;
@define-color bg-neutral #e4e3ad;

@define-color bg-accent #97bb61;
@define-color fg-accent #2c1e31;

@define-color bg-info #3388de;
@define-color fg-info #10121c;

@define-color bg-good #97bb61;
@define-color fg-good #1a1a10;

@define-color bg-warn #f3a866;
@define-color fg-warn #6d5320;

@define-color bg-critical #ec273f;
@define-color fg-critical #10121c;

window#waybar {
    background: @bg-neutral;
}

.module {
    padding-left: 8px;
    padding-right: 8px;
    color: @fg-neutral;
}

.modules-right .module {
    margin: 0 8px 0 8px;
}

.module button {
    padding: 2px;
    color: @fg-neutral;
    margin: 2px;
}

.module button.focused {
    background-color: @bg-accent;
    color: @fg-accent;
}

#workspaces {
    padding: 0;
}

#battery {
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging {
    background: @bg-good;
    color: @fg-good;
    animation-name: blink;
    animation-duration: 2s;
}

#battery.full {
    background: @bg-good;
    color: @fg-good;
}

#battery.warning:not(.charging) {
    background-color: @bg-warn;
    color: @fg-warn;
}

#battery.critical:not(.charging) {
    background-color: @bg-critical;
    color: @fg-critical;
    animation-name: blink;
}

@keyframes blink {
    to {
        background-color: transparent;
        color: @fg-neutral;
    }
}
