[core]
    pager = delta
    excludesFile = ~/.gitignore
[user]
    name = serramatutu
[commit]
    gpgsign = true
[rebase]
    autoSquash = true
[url "git@github.com:"]
    insteadOf = https://github.com/
[init]
    defaultBranch = main
[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
[merge]
    conflictstyle = zdiff3
